.galeriap{
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);  
    color:white;
    font-size: large;
    padding: 0% 10%;
    margin: 3%;
    text-align: center;
}

.imagenesGaleria{
    text-align: center;
}

.fotoGaleria{
    width: 600px;
    height: 340px;
    margin: 5px;
    transition: transform 2s;
    position:absolute;
    object-fit: contain;

    &:hover{
        transform: scale(1.2, 1.2);
        object-fit: contain;
    }

}

.galeriaVideo{
    margin-bottom: 10px;
    text-align: center;
}
