
.hola{
width: 400px;
height: 400px;
border: solid 1px;
}

.hola:hover{


@keyframes colores {
0% {
    background-image: url(./fotosgaleria/barra.jpeg);
}
25% {
    background-image: url(./fotosgaleria/atardecer2.jpeg);
}
75% {
    background-image: url(./fotosgaleria/deco2.jpeg);
}
100%{
    background-image: url(./fotosgaleria/deconoche.jpeg);
}